<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
  <form action='/users/queryAll' method="get">
      <input type="submit" value="查询11">
  </form>

  </body>
</html>
